*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(137, 137, 250);
}

.main{
    background-color: #fff;
    width: 1200px;
    height: 460px;
    margin: 100px auto;
    border-radius: 10px;
}

.container{
    width: 1140px;
    margin: 0 auto;
}

.list{
    display: flex;   
}

.list li{
    width: 380px;
    height: 400px;
    text-align: center;    
    padding-top: 40px;    
    background-color: #fff;    
    font-family: "Mulish";    
    list-style-type: none;   
    margin-top: 30px; 
    border-radius: 10px;
}

.list li:hover{
    background-color: rgb(247, 244, 244);
}

.list h2{
    color: rgb(108, 108, 250);
    margin-top: 45px;
}

.list p{
    width: 270px;
    margin: 0 auto;
    margin-top: 25px;
    color: #666;
    line-height: 25px;
    font-weight: 600;
}

.list .psecond{
    color: rgb(108, 108, 250);
}

.number{
    font-size: 40px;
    font-weight: bold;
}

.list sup{
    font-size: 22px;
}

